[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nextcord = "*"
toml = "*"
lavalink = "*"
pynacl = "*"
pyfiglet = "*"
termcolor = "*"
colorama = "*"
wavelink = "*"
nextwave = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
